{% extends "layout.html" %}

{% block title %}Car makers{% endblock %}

{% block main_page %}
    <h3>Select the car maker</h3>

    <div class="row">
    {% for item in car_makers %}
        <div class="col s2"><a href="#" id="{{ item }}" onclick="plotly_output(this.id)">{{ item }}</a></div>
    {% endfor %}
    </div>

    <div class="col s12 m7">
        <div class="card horizontal z-depth-3">
            <div class="card-stacked">
                <div class="card-content">
                    <div id="plot_div"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

<!-- JS Footer -->
{% block js_footer %}
<script>

    function plotly_output(id){
        $.ajax({
            url: {% url 'statistics_by_car_maker' %},
            type: "POST",
            data: {
                'car_name': id,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },

            success: function(data){

                var trace1 = { x: data.x, y: data.y, type: 'scatter' };

                var plot_data = [trace1];

                var layout1 = {
                    title: data.name,

                    xaxis: {
                        autorange: true,
                        tickvals:data.years,
                    },

                    yaxis: {
                        autorange: true
                    }
                };

                Plotly.newPlot('plot_div', plot_data, layout1);
            }
        });
    }
</script>


    <!-- Materialize CSS Init -->
    <script>
    /*
        $(document).ready(function(){
            $('select').formSelect();
        });
    */
    </script>
{% endblock %}